<!DOCTYPE html>
<html>
<head>
  <title>Store Performance</title>
</head>
<body>
  <h1>Store Performance</h1>
  <form action="/trigger" method="post">
    <input type="submit" value="Execute Trigger">
  </form>
  <h1>Trigger Executed</h1>
  <p>The trigger was executed successfully.</p>

</body>
<script>
    window.onload = function() {
      alert('Trigger executed successfully!');
    };
  </script>
</html>





  
 

